glrlm>=0.1.0
joblib>=1.3.2
keras>=3.3.3
ipykernel>=6.29.4
ipython>=8.25.0
jupyterlab>=4.2.2
matplotlib>=3.9.0
opencv-python>=4.10.0.82
opencv-python-headless>=4.10.0.82
numpy>=1.23.5
pandas>=2.2.2
pip>=24.0
scikit-image>=0.23.2
scikeras>=0.13.0
scikit-learn>=1.5.0
scipy>=1.13.1
seaborn>=0.13.2
tensorflow>=2.16.1